div.related{
    background-color: #27076F;
}

div.body .section h1{
    background-color: #D1D2FF;
}

.bolditalic {
    font-weight: bold;
    font-style: italic;
  }
.rubric{
    background-color: #faf0ff;
}