[submodule "HElib"]
	path = Pyfhel/HElib
	url = https://github.com/shaih/helib
[submodule "PALISADE"]
	path = Pyfhel/PALISADE
	url = https://gitlab.com/palisade/palisade-release

[submodule "SEAL"]
	path = Pyfhel/SEAL
	url = https://github.com/ibarrond/SEAL4Pyfhel
