# Compiled Object files
**.o
**.lo

# Compiled Dynamic libraries
**.so*

# Compiled Static libraries
**.a
**.la*

# Executables
**_x

# Pyfhel building
src/Pyfhel/*.pyc
src/Pyfhel/*.cpp
src/Pyfhel/*.c
src/Pyfhel/build

# Makefiles
**/Makefile

# Afhel environments
**.aenv
