# Compiled Object files
**.o
**.lo

# Compiled Dynamic libraries
**.so*

# Compiled Static libraries
**.a
**.la*

# Executables
**_x

# Pyfhel building
Pyfhel/*.pyc
**/build
**.egg-info
**/dist

# Makefiles
**/Makefile

# SEAL
Pyfhel/SEAL/*
!Pyfhel/SEAL/.gitkeep
!Pyfhel/SEAL/config.h

# Pyfhel saved objects
**.pycon
**.pypk
**.pysk
**.pyrok
**.pyrlk

# Visual Studio Code
**.vscode

# ipython checkpoints
**.ipynb
Pyfhel/Scratchpad
**.ipynb_checkpoints
**/__pycache__

# Documentation
docs/_autosummary
docs/doctrees
docs/html
