# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
**.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
**.a
*.lib

# Executables
*.exe
*.out
*.app
*_x

**/PyCtxt.c
**/Pyfhel.cpp
**/PyPtxt.c

