[submodule "SEAL"]
	path = Pyfhel/backend/SEAL
	url = https://github.com/microsoft/SEAL
[submodule "palisade"]
	path = Pyfhel/backend/palisade
	url = https://gitlab.com/palisade/palisade-release
