[submodule "HElib"]
	path = Pyfhel/HElib
	url = https://github.com/shaih/helib
[submodule "PALISADE"]
	path = Pyfhel/PALISADE
	url = https://git.njit.edu/palisade/PALISADE

[submodule "SEAL"]
	path = Pyfhel/SEAL
	url = https://github.com/ibarrond/SEAL4Pyfhel
