include Pyfhel/*.pxd
include Pyfhel/*.pyx
include Pyfhel/*.py
include Pyfhel/utils/**
include Pyfhel/Afhel/*.cpp
include Pyfhel/Afhel/*.h
include Pyfhel/Afhel/*.pxd
global-include Pyfhel/backend/SEAL/**
global-exclude Pyfhel/backend/palisade/**
global-include *.pyx *.pxd *.h

include docs/static/*

include examples/*.py

include README.md
include LICENSE.txt
include setup.py
include pyproject.toml
